@media only screen and (max-width: 1280px) {
    .recipe {
        width: 1100px;
    }

    .image--top {
        width: 1100px;
    }

    .recipe__serving {
        width: 1100px;
        height: auto;
    }

    .image--bottom-left, .image--bottom-right {
        width: 500px;
        float: none;
    }
}

@media only screen and (max-width: 1100px) {
    .recipe {
        width: 1000px;
    }

    .image--top {
        width: 1000px;
    }

    .recipe__serving {
        width: 1000px;
    }

    .image--bottom-left, .image--bottom-right {
        width: 450px;
    }
}

@media only screen and (max-width: 1000px) {
    .recipe {
        width: 900px;
    }

    .image--top {
        width: 900px;
    }

    .recipe__serving {
        width: 900px;
    }

    .image--bottom-left, .image--bottom-right {
        width: 408px;
        min-width: 300px;
    }

}

@media only screen and (max-width: 900px) {
    .recipe {
        width: 800px;
    }

    .image--top {
        width: 800px;
    }

    .recipe__serving {
        width: 800px;
    }

    .image__bottom-left, .image--bottom-right {
        display: grid;
        margin: 0 auto;
    }

    .image--bottom-left {
        margin-bottom: 24px;
    }

    .recipe-content {
        padding: 48px 16px 64px 16px;
    }
}

@media only screen and (max-width: 800px) {
    .recipe {
        width: 700px;
    }

    .image--top {
        width: 700px;
    }

    .recipe__serving {
        width: 700px;
    }
}

@media only screen and (max-width: 700px) {
    .recipe {
        width: 600px;
    }

    .image--top {
        width: 600px;
    }

    .recipe__serving {
        width: 600px;
    }
}

@media only screen and (max-width: 600px) {
    .recipe {

        width: 500px;
    }

    .image--top {
        width: 500px;
    }

    .recipe__serving {
        width: 500px;
    }
}

@media only screen and (max-width: 500px) {
    .recipe {
        width: 440px;
    }

    .image--top {
        width: 440px;
    }

    .recipe__serving {
        width: 408px;
    }
}