/*** css resets ***/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*** css resets end ***/

/*** variables ***/

:root {
  /* font-families */
  --ff-main: "Ubuntu", sans-serif;

  /* font-weights */
  --fw-headings-bold: 700;
  --fw-headings: 500;
  --fw-text: 400;

  /* font-sizes */
  --fs-headings: 2rem; 
  --fs-text: 1rem;

  /* line-heights */
  --lh-normal: 1.5;
  --lh-large: 2.0;

  /* spacings */
  --spc-small: 0.75rem;
  --spc-medium: 1.5rem;
  --spc-large: 2.0rem;

  /* color settings */
  --clr-pink: #a100004d;
  --clr-white: #ffffff;
  --clr-heading: #A10000;
  --clr-recipe-desc: #EBEBEB;
}

/*** variables end ***/

/*** general selectors ***/

body {
    font-family: var(--ff-main); /* replaced with variable */
    background-color: var(--clr-pink); /* replaced with variable */
    padding-bottom: 64px;
}

h1 {
    font-weight: var(--fw-headings-bold); /* replaced with variable */
    color: var(--clr-heading);
}

h2 {
    font-weight: var(--fw-headings); /* replaced with variable */
}

h1, h2 {
    font-size: var(--fs-headings); /* replaced px with rem and variable */
    line-height: var(--lh-normal); /* replaced with variable */
}

p {
    font-weight: var(--fw-text); /* replaced with variable */
    font-size: var(--fs-text); /* replaced px with rem and variable */
    line-height: var(--lh-normal); /* replaced with variable */
}

ol, ul {
    line-height: var(--lh-large);
}

/*** general selectors end ***/

/*** block selectors ***/

.recipe {
    background-color: var(--clr-white);
    max-width: 1280px; /* replaced width with max-width */
    margin: 0 auto;
    border: 1px solid var(--clr-white);
}

.recipe__content {
    padding: var(--spc-medium);
}

.recipe__description {
    background-color: var(--clr-recipe-desc);
    padding: var(--spc-small);
}

.recipe__serving {
    min-width: 1184px; /* replaced width with min-width */
    min-height: 516px; /* replaced height with min-height */
}

.image {
    object-fit: cover;
    min-height: 500px;
}

.image--bottom-left {
    float: left;
}

.image--bottom-right {
    float: right;
}

/*** block selectors end ***/