/*** css reset from Josh https://www.joshwcomeau.com/ ***/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations - removed due to lack of Firefox support */

body {
/* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-inline-size: 100%;
  /** tip from Kevin Powell **/
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*** css resets end ***/

/*** variables ***/

:root {
  /* font-families */
  --ff-main: "Ubuntu", sans-serif;

  /* font-weights */
  --fw-headings-bold: 700;
  --fw-headings: 500;
  --fw-text: 400;

  /* font-sizes */
  --fs-headings: 1.75rem; 
  --fs-text: 1rem;

  /* line-heights */
  --lh-normal: 1.5;
  --lh-large: 2.0;

  /* spacings */
  --spc-small: 0.75rem;
  --spc-medium: 1.5rem;
  --spc-large: 2.0rem;

  /* color settings */
  --clr-pink: hsla(0, 100%, 32%, 0.5);
  --clr-white: hsl(0, 0%, 100%);
  --clr-heading: hsl(0, 100%, 32%);
  --clr-recipe-desc: hsla(0, 0%, 90%);

  /* shadows */
  --shdw-small: 0 0 10px 0px hsl(0, 0%, 0%);
}

/*** variables end ***/

/*** general selectors ***/

body {
    font-family: var(--ff-main); 
    background-color: var(--clr-pink); 
    padding-block-end: calc(var(--spc-large) * 2);
    line-height: var(--lh-large);
}

:is(h1, h2) {
    font-size: var(--fs-headings); 
    line-height: var(--lh-large);
  }
  
h1 {
  font-weight: var(--fw-headings-bold);
  color: var(--clr-heading);
  text-align: center;
}

h2 {
    font-weight: var(--fw-headings);
}

p {
    font-weight: var(--fw-text);
    font-size: var(--fs-text);
}

img {
    object-fit: cover;
    border: solid 2px var(--clr-heading);
    border-radius: 1.5ch;
}

:is(ol, ul) {
    line-height: var(--lh-large);
}

/* li {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--clr-heading);
  text-decoration: none;

  &:hover, :focus-visible {
    cursor: pointer;
    color: var(--clr-white);
    background-color: var(--clr-heading);
  }
} */

/*** general selectors end ***/

/*** block selectors ***/

.header__navigation {
  position: sticky;
  top: 0;
  background-color: var(--clr-recipe-desc);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: var(--spc-small);
  box-shadow: var(--shdw-small);

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;

    @media (width < 48rem) { /* hide links */
      display: none;
    }
  }
}

.header__list--item {
  padding-inline: var(--spc-small);
  color: var(--clr-heading);
  border-radius: 2ch;
  text-decoration: none;
  border-inline: 1px solid var(--clr-heading);

  &:hover, focus-visible {
    background-color: color-mix(in hsl, var(--clr-heading) 55%, var(--clr-white) 45%);
    color: var(--clr-white);
    cursor: pointer;
  }
}

.header__top--button {
  color: var(--clr-heading);
  background-color: var(--clr-white);
  border: 2px solid var(--clr-heading);
  border-radius: 2ch;
  padding-inline: 2ch;

  &:hover, :focus-visible {
    background-color: color-mix(in hsl, var(--clr-heading) 55%, var(--clr-white) 45%);
    color: var(--clr-white);
    cursor: pointer;
  }
}

.header__top--logo {
  color: var(--clr-heading);
}

.recipe {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-heading);
  width: clamp(350px, 95%, 1200px); /* replaced max-width with clamp */
  margin: 0 auto;
  padding-inline: var(--spc-small);
  padding-block-end: var(--spc-small);
}

.recipe__top--image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: clamp(300px, 100%, 1200px); /* replaced max-width with clamp */
}

.recipe__description {
    display: inline-block;
    text-align: center;
    background-color: var(--clr-recipe-desc);
    padding: var(--spc-small);
    border-radius: 1ch;
}

.recipe__serving {
    display: grid;
    gap: 1rem;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(1.5rem, 100%)1fr));
    padding-block: var(--spc-medium);

    @media (width >= 72rem) {
      grid-template-columns: repeat(2, 1fr);
    }
}

/*** block selectors end ***/

/*** page "recipes" ***/

.recipe__collection {
  display: grid;
  gap: 1rem;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(min(1.5rem, 100%)1fr));
  padding-block: var(--spc-medium);
  
  @media (width >= 72rem) {
      grid-template-columns: repeat(2, 1fr);
    }
}

/*** page "recipes" end ***/

/*** page "form" ***/

form {
  display: grid;
  gap: var(--spc-medium);
}

.form__area {
  display: grid;
  gap: var(--spc-small);
  text-align: center;
}