body {
    font-family: "Open Sans", sans-serif;
    background-color: #A100004D;
    padding-bottom: 64px;
}

h1 {
    color: #A10000;
    font-weight: 700;
    font-style: bold;
    font-size: 28px;
    line-height: 100%;
}

h2 {
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    line-height: 100%;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

ol, ul {
    line-height: 32px;
}

.top-image {
    width: 1280px;
    max-width: 1280px;
    height: 500px;
    min-height: 500px;
    object-fit: cover;
}

.bottom-image-left, .bottom-image-right {
    width: 580px;
    height: 467px;
    min-width: 300px;
    object-fit: cover;
}

.serving-section {
    width: 1184px;
    height: 516px;
}

.bottom-image-left {
    float: left;
}

.bottom-image-right {
    float: right;
}

.recipe-box {
    background-color: white;
    width: 1280px;
    margin: 0 auto;
    border: 1px solid white;
}

.recipe-content {
    padding: 48px 48px 64px 48px;
}

.recipe-description-section {
    background-color: #EBEBEB;
    padding: 8px;
}